In [1]:
import pandas as pd

In [2]:
ipl = pd.read_csv(r'ipl-matches.csv')

In [3]:
ipl.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

## API-1 All Teams name

In [16]:
teams = list(set(list(ipl['Team1']) + list(ipl['Team2'])))
teams

['Pune Warriors',
 'Royal Challengers Bangalore',
 'Lucknow Super Giants',
 'Punjab Kings',
 'Gujarat Lions',
 'Delhi Capitals',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kochi Tuskers Kerala',
 'Rising Pune Supergiants',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Rising Pune Supergiant',
 'Deccan Chargers',
 'Kings XI Punjab',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Sunrisers Hyderabad']

## API-2 Team vs Team

In [38]:
team1 = 'Kolkata Knight Riders'
team2 = 'Royal Challengers Bangalore'

In [39]:
df1 = ipl[((ipl.Team1 == team1) & (ipl.Team2 == team2)) | ((ipl.Team1 == team2) & (ipl.Team2 == team1))]

In [40]:
df1

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
68,1304052,Mumbai,2022-03-30,2022,6,Kolkata Knight Riders,Royal Challengers Bangalore,"Dr DY Patil Sports Academy, Mumbai",Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,3.0,NaN,PWH de Silva,"['AM Rahane', 'VR Iyer', 'SS Iyer', 'N Rana', ...","['F du Plessis', 'Anuj Rawat', 'V Kohli', 'DJ ...",J Madanagopal,Navdeep Singh
76,1254115,Sharjah,2021-10-11,2021,Eliminator,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Kolkata Knight Riders,Wickets,4.0,NaN,SP Narine,"['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Max...","['Shubman Gill', 'VR Iyer', 'RA Tripathi', 'N ...",CB Gaffaney,VK Sharma
103,1254087,Abu Dhabi,2021-09-20,2021,31,Royal Challengers Bangalore,Kolkata Knight Riders,"Zayed Cricket Stadium, Abu Dhabi",Royal Challengers Bangalore,bat,N,Kolkata Knight Riders,Wickets,9.0,NaN,CV Varun,"['V Kohli', 'D Padikkal', 'KS Bharat', 'GJ Max...","['Shubman Gill', 'VR Iyer', 'AD Russell', 'N R...",CB Gaffaney,S Ravi
124,1254067,Chennai,2021-04-18,2021,10,Royal Challengers Bangalore,Kolkata Knight Riders,"MA Chidambaram Stadium, Chepauk, Chennai",Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,38.0,NaN,AB de Villiers,"['V Kohli', 'D Padikkal', 'RM Patidar', 'GJ Ma...","['N Rana', 'Shubman Gill', 'RA Tripathi', 'EJG...",C Shamshuddin,Nitin Menon
155,1216494,Abu Dhabi,2020-10-21,2020/21,39,Kolkata Knight Riders,Royal Challengers Bangalore,Sheikh Zayed Stadium,Kolkata Knight Riders,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,Mohammed Siraj,"['Shubman Gill', 'RA Tripathi', 'N Rana', 'T B...","['D Padikkal', 'AJ Finch', 'Gurkeerat Singh', ...",VK Sharma,S Ravi
166,1216540,NaN,2020-10-12,2020/21,28,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,82.0,NaN,AB de Villiers,"['AJ Finch', 'D Padikkal', 'V Kohli', 'AB de V...","['T Banton', 'Shubman Gill', 'N Rana', 'EJG Mo...",RK Illingworth,K Srinivasan
219,1178410,Kolkata,2019-04-19,2019,35,Royal Challengers Bangalore,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Royal Challengers Bangalore,Runs,10.0,NaN,V Kohli,"['PA Patel', 'V Kohli', 'AD Nath', 'MM Ali', '...","['CA Lynn', 'SP Narine', 'Shubman Gill', 'RV U...",IJ Gould,Nitin Menon
237,1175372,Bengaluru,2019-04-05,2019,17,Royal Challengers Bangalore,Kolkata Knight Riders,M.Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,5.0,NaN,AD Russell,"['PA Patel', 'V Kohli', 'AB de Villiers', 'MP ...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...",AK Chaudhary,CB Gaffaney
286,1136589,Bengaluru,2018-04-29,2018,29,Royal Challengers Bangalore,Kolkata Knight Riders,M.Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,CA Lynn,"['Q de Kock', 'BB McCullum', 'V Kohli', 'M Voh...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...",AK Chaudhary,NJ Llong
312,1136563,Kolkata,2018-04-08,2018,3,Royal Challengers Bangalore,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,4.0,NaN,SP Narine,"['BB McCullum', 'Q de Kock', 'V Kohli', 'AB de...","['SP Narine', 'CA Lynn', 'RV Uthappa', 'N Rana...",A Deshmukh,C Shamshuddin
327,1082636,Bangalore,2017-05-07,2017,46,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,SP Narine,"['CH Gayle', 'Mandeep Singh', 'V Kohli', 'AB d...","['CA Lynn', 'SP Narine', 'C de Grandhomme', 'G...",AY Dandekar,C Shamshuddin
346,1082617,Kolkata,2017-04-23,2017,27,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,82.0,NaN,NM Coulter-Nile,"['SP Narine', 'G Gambhir', 'RV Uthappa', 'MK P...","['CH Gayle', 'V Kohli', 'Mandeep Singh', 'AB d...",CB Gaffaney,CK Nandan
385,980995,Kolkata,2016-05-16,2016,48,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,9.0,NaN,V Kohli,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'SR ...",CB Gaffaney,A Nand Kishore
403,980959,Bangalore,2016-05-02,2016,30,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,5.0,NaN,AD Russell,"['KL Rahul', 'CH Gayle', 'V Kohli', 'AB de Vil...","['RV Uthappa', 'G Gambhir', 'CA Lynn', 'MK Pan...",M Erasmus,S Ravi
459,829771,Bangalore,2015-05-02,2015,33,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,7.0,NaN,Mandeep Singh,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['RV Uthappa', 'G Gambhir', 'AD Russell', 'RN ...",JD Cloete,PG Pathak
487,829713,Kolkata,2015-04-11,2015,5,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,3.0,NaN,CH Gayle,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Y...","['CH Gayle', 'V Kohli', 'KD Karthik', 'Mandeep...",S Ravi,C Shamshuddin
502,734027,Kolkata,2014-05-22,2014,49,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,30.0,NaN,RV Uthappa,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...","['CH Gayle', 'YV Takawale', 'V Kohli', 'Yuvraj...",AK Chaudhary,CK Nandan
541,729299,NaN,2014-04-24,2014,11,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,2.0,NaN,CA Lynn,"['PA Patel', 'YV Takawale', 'V Kohli', 'Yuvraj...","['JH Kallis', 'G Gambhir', 'MK Pandey', 'CA Ly...",Aleem Dar,VA Kulkarni
568,598057,Ranchi,2013-05-12,2013,60,Kolkata Knight Riders,Royal Challengers Bangalore,JSCA International Stadium Complex,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,5.0,NaN,JH Kallis,"['MS Bisla', 'G Gambhir', 'JH Kallis', 'YK Pat...","['CA Pujara', 'CH Gayle', 'V Kohli', 'AB de Vi...",NJ Llong,K Srinath
616,598008,Bangalore,2013-04-11,2013,12,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,8.0,NaN,CH Gayle,"['CH Gayle', 'MA Agarwal', 'V Kohli', 'AB de V...","['MS Bisla', 'G Gambhir', 'JH Kallis', 'YK Pat...",Asad Rauf,AK Chaudhary
666,548344,Kolkata,2012-04-28,2012,38,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,47.0,NaN,G Gambhir,"['BB McCullum', 'G Gambhir', 'JH Kallis', 'YK ...","['TM Dilshan', 'CH Gayle', 'V Kohli', 'AB de V...",Asad Rauf,BR Doctrove
692,548315,Bangalore,2012-04-10,2012,10,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,42.0,NaN,L Balaji,"['CA Pujara', 'CH Gayle', 'V Kohli', 'AB de Vi...","['JH Kallis', 'G Gambhir', 'MS Bisla', 'YK Pat...",S Ravi,RJ Tucker
717,501255,Bangalore,2011-05-14,2011,58,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,4.0,D/L,CH Gayle,"['CH Gayle', 'LA Pomersbach', 'V Kohli', 'AB d...","['JH Kallis', 'EJG Morgan', 'G Gambhir', 'MK T...",RE Koertzen,RB Tiffin
751,501222,Kolkata,2011-04-22,2011,24,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,9.0,NaN,CH Gayle,"['JH Kallis', 'BJ Haddin', 'G Gambhir', 'YK Pa...","['TM Dilshan', 'CH Gayle', 'V Kohli', 'AB de V...",SS Hazare,RB Tiffin
792,419148,Bangalore,2010-04-10,2009/10,43,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,7.0,NaN,R Vinay Kumar,"['S Sriram', 'JH Kallis', 'R Dravid', 'RV Utha...","['SC Ganguly', 'CH Gayle', 'BB McCullum', 'MK ...",K Hariharan,DJ Harper
830,419109,Kolkata,2010-03-14,2009/10,4,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,MK Tiwary,"['BJ Hodge', 'MK Tiwary', 'SC Ganguly', 'CA Pu...","['JH Kallis', 'SP Goswami', 'MK Pandey', 'V Ko...",HDPK Dharmasena,AM Saheba
853,392221,Centurion,2009-05-12,2009,41,Royal Challengers Bangalore,Kolkata Knight Riders,SuperSport Park,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,6.0,NaN,LRPL Taylor,"['JD Ryder', 'JH Kallis', 'RV Uthappa', 'LRPL ...","['BB McCullum', 'SC Ganguly', 'AN Ghosh', 'DJ ...",M Erasmus,SS Hazare
875,392199,Durban,2009-04-29,2009,19,Royal Challengers Bangalore,Kolkata Knight Riders,Kingsmead,Kolkata Knight Riders,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['JH Kallis', 'SP Goswami', 'KP Pietersen', 'V...","['BB McCullum', 'CH Gayle', 'BJ Hodge', 'SC Ga...",MR Benson,TH Wijewardene
922,336010,Kolkata,2008-05-08,2007/08,29,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,5.0,NaN,SC Ganguly,"['A Chopra', 'BJ Hodge', 'SC Ganguly', 'DJ Hus...","['J Arunkumar', 'S Chanderpaul', 'MV Boucher',...",Asad Rauf,IL Howell
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [41]:
tmp = df1.shape[0]
tmp

30

In [42]:
mwt1 = df1[df1.WinningTeam == team1].shape[0]
mwt1

16

In [43]:
mwt2 = df1[df1.WinningTeam == team2].shape[0]
mwt2

14

In [44]:
draws = tmp - (mwt1 + mwt2)
draws

0

In [47]:
def teamVsTeam(team1, team2):
    df1 = ipl[((ipl.Team1 == team1) & (ipl.Team2 == team2)) | ((ipl.Team1 == team2) & (ipl.Team2 == team1))]
    tmp = df1.shape[0]
    mwt1 = df1[df1.WinningTeam == team1].shape[0]
    mwt2 = df1[df1.WinningTeam == team2].shape[0]
    draws = tmp - (mwt1 + mwt2)
    
    team_vs_team_record = {
        'Total matches played': tmp,
        'Matches won by ' + team1: mwt1,
        'Matches won by ' + team2: mwt2,
        'Draws': draws
    }
    return team_vs_team_record

In [48]:
teamVsTeam(team1, team2)

{'Total matches played': 30,
 'Matches won by Kolkata Knight Riders': 16,
 'Matches won by Royal Challengers Bangalore': 14,
 'Draws': 0}

## API-3 Team record

### Overall

In [49]:
ipl.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [50]:
team = 'Chennai Super Kings'

In [61]:
df2 = ipl[(ipl.Team1 == team) | (ipl.Team2 == team)]
tmp = df2.shape[0]
tmp

208

In [62]:
mw = df2[df2.WinningTeam == team].shape[0]
mw

121

In [70]:
draws = df2[df2.WinningTeam.isnull()].shape[0]
draws

0

In [71]:
ml = tmp - (mw + draws)
ml

87

In [85]:
sw = (df2[df2.MatchNumber == 'Final'].WinningTeam == team).sum()
sw

4

In [89]:
df2[df2.MatchNumber == 'Final'].WinningTeam == team

74      True
194    False
254     True
433    False
552    False
628    False
702     True
775     True
892    False
Name: WinningTeam, dtype: bool

In [90]:
def teamRecord(team):
    df2 = ipl[(ipl.Team1 == team) | (ipl.Team2 == team)]
    tmp = df2.shape[0]
    mw = df2[df2.WinningTeam == team].shape[0]
    draws = df2[df2.WinningTeam.isnull()].shape[0]
    ml = tmp - (mw + draws)
    sw = (df2[df2.MatchNumber == 'Final'].WinningTeam == team).sum()
    
    overall = {
        'Total matches played': tmp,
        'Match won': mw,
        'Match lost': ml,
        'Draws': draws,
        'Season winner': '{} in {}'.format(sw, sw_list)
    }

    return overall

### Against

In [4]:
ipl.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [19]:
team = 'Deccan Chargers'

In [20]:
all_teams = sorted(list(set(list(ipl.Team1) + list(ipl.Team2))))
all_teams

['Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [21]:
def against(team2):
    df1 = ipl[((ipl.Team1 == team) & (ipl.Team2 == team2)) | ((ipl.Team1 == team2) & (ipl.Team2 == team))]
    tmp = df1.shape[0]
    mwt1 = df1[df1.WinningTeam == team].shape[0]
    mwt2 = df1[df1.WinningTeam == team2].shape[0]
    draws = tmp - (mwt1 + mwt2)
    
    team_vs_team_record = {
        'Total matches played': tmp,
        'Matches won by ' + team: mwt1,
        'Matches won by ' + team2: mwt2,
        'Draws': draws
    }
    return team_vs_team_record

In [22]:
def final(team):
    d = {}
    for each_team in all_teams:
        if team == each_team:
            continue
        else:
            d[each_team] = against(each_team)
    return d

In [23]:
final(team)

{'Chennai Super Kings': {'Total matches played': 10,
  'Matches won by Deccan Chargers': 4,
  'Matches won by Chennai Super Kings': 6,
  'Draws': 0},
 'Delhi Capitals': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Delhi Capitals': 0,
  'Draws': 0},
 'Delhi Daredevils': {'Total matches played': 11,
  'Matches won by Deccan Chargers': 4,
  'Matches won by Delhi Daredevils': 7,
  'Draws': 0},
 'Gujarat Lions': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Gujarat Lions': 0,
  'Draws': 0},
 'Gujarat Titans': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Gujarat Titans': 0,
  'Draws': 0},
 'Kings XI Punjab': {'Total matches played': 10,
  'Matches won by Deccan Chargers': 3,
  'Matches won by Kings XI Punjab': 7,
  'Draws': 0},
 'Kochi Tuskers Kerala': {'Total matches played': 1,
  'Matches won by Deccan Chargers': 1,
  'Matches won by Kochi Tuskers Kerala': 0,
  'Draws': 0},
 'Kolkata Knight Riders': {'Total matches played': 9,
  'Matches won by Deccan Chargers': 2,
  'Matches won by Kolkata Knight Riders': 7,
  'Draws': 0},
 'Lucknow Super Giants': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Lucknow Super Giants': 0,
  'Draws': 0},
 'Mumbai Indians': {'Total matches played': 10,
  'Matches won by Deccan Chargers': 4,
  'Matches won by Mumbai Indians': 6,
  'Draws': 0},
 'Pune Warriors': {'Total matches played': 4,
  'Matches won by Deccan Chargers': 3,
  'Matches won by Pune Warriors': 1,
  'Draws': 0},
 'Punjab Kings': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Punjab Kings': 0,
  'Draws': 0},
 'Rajasthan Royals': {'Total matches played': 9,
  'Matches won by Deccan Chargers': 2,
  'Matches won by Rajasthan Royals': 7,
  'Draws': 0},
 'Rising Pune Supergiant': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Rising Pune Supergiant': 0,
  'Draws': 0},
 'Rising Pune Supergiants': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Rising Pune Supergiants': 0,
  'Draws': 0},
 'Royal Challengers Bangalore': {'Total matches played': 11,
  'Matches won by Deccan Chargers': 6,
  'Matches won by Royal Challengers Bangalore': 5,
  'Draws': 0},
 'Sunrisers Hyderabad': {'Total matches played': 0,
  'Matches won by Deccan Chargers': 0,
  'Matches won by Sunrisers Hyderabad': 0,
  'Draws': 0}}

## API 4 batter record

In [76]:
players = pd.read_csv(r'IPL_Ball_by_Ball_2008_2022.csv')
players.head(100)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1312200,1,15,6,TA Boult,R Sai Kishore,R Parag,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
96,1312200,1,16,1,R Parag,LH Ferguson,TA Boult,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
97,1312200,1,16,2,TA Boult,LH Ferguson,R Parag,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
98,1312200,1,16,3,R Parag,LH Ferguson,TA Boult,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
99,1312200,1,16,4,TA Boult,LH Ferguson,R Parag,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [28]:
batter = 'V Kohli'

In [62]:
inn = players[players.batter == batter]
ti = inn.ID.nunique()
ti

215

In [72]:
runs = inn.batsman_run.sum()
runs

6634

In [74]:
inn[inn.batsman_run == 4].shape[0]

581

In [75]:
inn[inn.batsman_run == 6].shape[0]

219

In [77]:
players.head(100)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1312200,1,15,6,TA Boult,R Sai Kishore,R Parag,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
96,1312200,1,16,1,R Parag,LH Ferguson,TA Boult,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
97,1312200,1,16,2,TA Boult,LH Ferguson,R Parag,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
98,1312200,1,16,3,R Parag,LH Ferguson,TA Boult,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
99,1312200,1,16,4,TA Boult,LH Ferguson,R Parag,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [79]:
out = inn.isWicketDelivery.sum()
out

193

In [80]:
runs/out

34.373056994818654

In [83]:
balls_faced = inn.shape[0]

In [84]:
sr = (runs/balls_faced) * 100
sr

125.97797189517661

In [87]:
inn1 = inn.groupby('ID')

In [96]:
inn2 = inn1.sum('batsman_run')

In [113]:
inn2[(inn2.batsman_run >= 50) & (inn2.batsman_run < 100)].shape[0]

45

In [110]:
inn2[inn2.batsman_run >= 100].shape[0]

5

In [118]:
hs = inn2.batsman_run.max()
hs

113

In [121]:
inn2[inn2.isWicketDelivery == False].shape[0]

32

In [127]:
ipl[ipl.Player_of_Match == batter].shape[0]

14

In [133]:
def overall_batter_record(batter):
    inn = players[players.batter == batter]
    ti = inn.ID.nunique()

    runs = inn.batsman_run.sum()
    fours = inn[inn.batsman_run == 4].shape[0]
    sixes = inn[inn.batsman_run == 6].shape[0]
    avg = runs/out
    balls_faced = inn.shape[0]
    sr = (runs/balls_faced) * 100

    inn1 = inn.groupby('ID')
    inn2 = inn1.sum('batsman_run')
    fifties = inn2[(inn2.batsman_run >= 50) & (inn2.batsman_run < 100)].shape[0]
    hundreds = inn2[inn2.batsman_run >= 100].shape[0]
    
    hs = inn2.batsman_run.max()
    no = inn2[inn2.isWicketDelivery == False].shape[0]

    mom = ipl[ipl.Player_of_Match == batter].shape[0]

    return {
        'Total innings': ti,
        'Runs': runs,
        'Fours': fours,
        'Sixes': sixes,
        'Average': round(avg, 2),
        'Strike Rate': round(sr, 2),
        'Fifties': fifties,
        'Hundreds': hundreds,
        'Highest Score': hs,
        'Not Out': no,
        'Man of the match': mom        
    }

In [134]:
overall_batter_record('V Kohli')

{'Total innings': 215,
 'Runs': 6634,
 'Fours': 581,
 'Sixes': 219,
 'Average': 34.37,
 'Strike Rate': 125.98,
 'Fifties': 45,
 'Hundreds': 5,
 'Highest Score': 113,
 'Not Out': 32,
 'Man of the match': 14}

## API-6 Against batter record

In [136]:
{i:i**3 for i in [1,2,3]}

{1: 1, 2: 8, 3: 27}

In [137]:
all_teams = sorted(list(set(list(ipl.Team1) + list(ipl.Team2))))

In [139]:
batter = 'V Kohli'
team = 'Chennai Super Kings'

In [143]:
inn = players[players.batter == batter]
inn

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
234,1312199,1,0,2,V Kohli,TA Boult,F du Plessis,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
236,1312199,1,0,4,V Kohli,TA Boult,F du Plessis,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
237,1312199,1,0,5,V Kohli,TA Boult,F du Plessis,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
238,1312199,1,0,6,V Kohli,TA Boult,F du Plessis,NaN,6,0,6,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225861,335982,2,1,2,V Kohli,I Sharma,W Jaffer,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225862,335982,2,1,3,V Kohli,I Sharma,W Jaffer,legbyes,0,4,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225863,335982,2,1,4,V Kohli,I Sharma,W Jaffer,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225866,335982,2,2,1,V Kohli,AB Dinda,W Jaffer,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225867,335982,2,2,2,V Kohli,AB Dinda,W Jaffer,NaN,0,0,0,0,1,V Kohli,bowled,NaN,Royal Challengers Bangalore

In [ ]:
def against_team(batter, team):

In [ ]:
def against_batter_record(batter):
    all_teams = sorted(list(set(list(ipl.Team1) + list(ipl.Team2))))
    
    return {team:{against_team(batter, team)} for team in all_teams}

In [20]:
ipl[(ipl[ipl.Date.str.contains('2016')].Team1 == 'Royal Challengers Bangalore') | (ipl[ipl.Date.str.contains('2016')].Team1 == 'Royal Challengers Bangalore')]

C:\Users\DELL\AppData\Local\Temp\ipykernel_5380\1339116573.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ipl[(ipl[ipl.Date.str.contains('2016')].Team1 == 'Royal Challengers Bangalore') | (ipl[ipl.Date.str.contains('2016')].Team1 == 'Royal Challengers Bangalore')]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).